.cypherProfile {
    width: 40%;
}

.cypherProfile>div {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.cypherProfile>div:first-child>span {
    font-weight: 700;
}

.cypherProfile>div>span {
    width: 33%;
    line-height: 40px;
}