.matchWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 500px;
}

.lose {
    background-color: #F5E0E6;
}

.win {
    background-color: #E0E6F5;
}

.matchWrap>div:first-child {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    height: 45px;
    line-height: 1;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

.matchWrap>div:first-child p {
    padding-right: 5px;
}

.matchDetailWrap {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding-left: 10px;
    min-height: 70px;
}

.matchDetailWrap>div {
    width: 9%;
}

.matchDetailWrap>div:first-child {
    width: 13%;
}

.matchDetailWrap>div,
.matchDetailWrap>div:first-child>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matchDetailWrap>div:first-child>div {
    display: flex;
    flex-direction: row;
}

.matchDetailWrap>div:first-child>div>div {
    padding-left: 10px;
}